
<div class="login-component">

	<div class="container">
		<div class="row">
			<div class="col-md-12 centralize">
				<div>
					<p class="text-center">
						<img src="./assets/apalavra/A-palavra-logo---white-126x128.png" class="img-logo" alt="">
					</p>
					<h1 class="text-center">
						<b>A PALAVRA</b>
					</h1>
					<form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
					<div id="login-form">
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="text" class="form-control" (ngModel)="email" name="email" id="email" required>
						</div>
						<div class="form-group">
							<label for="senha">Senha:</label>
							<input type="password" class="form-control"  (ngModel)="password" name="password" id="password" required>
						</div>
						<button type="submit" [disabled]="!formData.valid" class="btn btn-login" >Login</button>
					<!--	<button class="btn btn-login" routerLink="/inicio">Login</button> 
						<button (click)="signInWithGoogle()" class="button btn-social btn-google">
							<i class="fa fa-google fa-lg"></i> Connect Google
						  </button>-->
					</div>
				</form>
				
				</div>
			</div>
		</div>
	</div>
</div>
