
<div class="login-component">

	<div class="container">
		<div class="row">
			<div class="col-md-12 centralize">
				<div>
					<p class="text-center">
						<img src="./assets/apalavra/A-palavra-logo---white-126x128.png" class="img-logo" alt="">
					</p>
					<h1 class="text-center">
						<b>A PALAVRA</b>
					</h1>
					<form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
					<div id="login-form">
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" class="form-control" id="email" (ngModel)="email" name="email" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]{2,}$"  required>
						</div>
						<div *ngIf="formData.submitted && !email.valid" class="help-block">O e-mail é necessário.</div>
						<small [hidden]="email.valid || (email.pristine && !formData.submitted)" class="text-danger text-center">
							<h6> O e-mail é necessário e deve ser válido.</h6>
					   </small>
						<div class="form-group">
							<label for="senha">Senha:</label>
							<input type="password" class="form-control" (ngModel)="password"  id="password" name="password" #password="ngModel" minlength="4" required >
							</div>
							<div *ngIf="formData.submitted && !password.valid" class="help-block">O password é necessário.</div>
							<small [hidden]="password.valid || (password.pristine && !formData.submitted)" class="text-danger text-center">
                                <h6>O Password é necessário.</h6>
                            </small>

						<button type="submit" [disabled]="!formData.valid" class="btn btn-login" >Login</button>
					
					</div>
				</form>
				
				</div>
			</div>
		</div>
	</div>
</div>
