<!-- <br>
<br>
<div class="center">
<div class="grid grid-pad">
  <a class="col-1-4" routerLink="/eventos">
  <div class="Module hero">
    <h4>Evento</h4>
  </div>
</a>
<a class="col-1-4" routerLink="/grupos">
  <div class="Module hero">
    <h4>Grupos</h4>
  </div>
</a>
<a class="col-1-4">
  <div class="Module hero">
    <h4>Agenda de Usuario</h4>
  </div>
</a>
</div>
</div> -->


<!-- <div class="dashboard-container">

</div> -->

<div class="dashboard-container">

  <div class="jumbotron jumbotron-fluid background-img">
    <div class="container">
      <!-- /home/lummy/Documents/Codding Bluster/apalavra-master/src/assets/apalavra/A-palavra-logo---white-64x65.png -->
      <h1>
        <img src="./assets/apalavra/A-palavra-logo---white-64x65.png" alt="">

        <b class="color-white"> A PALAVRA</b>
        <span class="color-gray">, administrador.</span>
      </h1>
      <p>Aqui podes fazer a gestao dos eventos, grupos e visualização de estatisticas.</p>
    </div>
  </div>

  <div class="container">
    <div class="margin-top">
      <div class="row ">
        <div class="col-md-4 card-margin" routerLink="/eventos">
          <div class="card card-radius">
            <img class="card-img-top card-img" src="http://saxony-blue.com/data/out/145/6473088-full-hd-wallpaper.jpg" alt="Card image">
            <div class="card-body text-center">
              <b>Eventos</b>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-margin" routerLink="/grupos">
          <div class="card card-radius">
            <img class="card-img-top card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIzrRxdeclbkw0vlTg_7nP78Fd95DXgQcbYLNyE9w3ah241WQ66w"
              alt="Card image">
            <div class="card-body text-center">
              <b>Grupos</b>
            </div>
          </div>
        </div>

        <div class="col-md-4 card-margin" routerLink="/eventos">
          <div class="card card-radius">
            <img class="card-img-top card-img" src="http://saxony-blue.com/data/out/145/6473088-full-hd-wallpaper.jpg" alt="Card image">
            <div class="card-body text-center">
              <b>Agenda</b>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center logout-btn-margin">
          <button type="button" class="btn btn-danger border-button" routerLink="/login">Terminar Secao</button>
        </p>
      </div>
    </div>

  </div>
</div>